<link rel="stylesheet" href="/css/sign_in.css">

  <div class="sign-in">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="POST">
      <input type="email" placeholder="EMAIL" name="email" required>
      <input type="password" name="password" placeholder="PASSWORD" required>
      <input id="button" type="submit" value="SIGN IN">
    </form>
  </div>
